.backHome:hover {
  background-color: #0048e0;
  border-color: #0048e0;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
.searchBar {
  width: 50%;
  position: relative;
  margin: auto;
  display: flex;
  padding-bottom: 20px;
  /* border-bottom: 3px solid #0048e0; */
}
.searchBtnStyle {
  padding: 5px 8px;
  color: #fff;
  border: none;
  position: absolute;
  top: 2px;
  right: 0px;
  cursor: pointer;
}

.priceRange {
  width: 55%;
  margin: auto;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.priceRangeInput {
  -webkit-appearance: none;
  appearance: none;
  width: 70%;
  margin: 10px;
  height: 6px;
  border-radius: 999px;
  outline: none;

  /* gray background */
  background: linear-gradient(
    to right,
    #0048e0 0%,
    #0048e0 100% /* #e5e7eb 50%,
    #e5e7eb 100% */
  );

  transition: background 0.2s ease;
}

/* ===== THUMB (circle handle) ===== */
.priceRangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  border: 3px solid #0048e0;
  cursor: pointer;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.15s ease;
}

.priceRangeInput::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

/* Firefox */
.priceRangeInput::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  border: 3px solid #0048e0;
  cursor: pointer;
}

/* Track for Firefox */
.priceRangeInput::-moz-range-track {
  height: 6px;
  border-radius: 999px;
  background: #e5e7eb;
}

.compareBtn {
  background-color: #0048e0;
  color: #fff;
  border: none;
}
.loanBtn {
  background-color: transparent;
  color: #0048e0;
  border: 1px solid #0048e0;
}
.compareBtn,
.loanBtn {
  padding: 3px 8px;
  border-radius: 3px;
  margin-right: 12px;
  cursor: pointer;
  width: 100px;
}
.loanBtn:hover {
  background-color: #0048e0;
  color: #fff;
}
.compareCard,
.loanCard {
  padding: 0 12px;
  background-color: #0048e0;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100vh;
  font-size: 33px;
  position: fixed;
  top: -90vh;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  transition: 0.5s;
}
.comparsion {
  padding: 8px 12px;
  background-color: #fff;
  color: #0048e0;
  width: 90%;
  justify-content: space-around;
}
.brandName {
  color: #ad0606;
  font-size: "37px";
}
.reselectBnt,
.confirmCompareBtn {
  padding: 8px 12px;
  font-size: 22px;
  cursor: pointer;
  margin: 0 8px;
}
.backBtn {
  font-size: 22px;
  padding: 8px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.loanInfo {
  width: 80%;
  background-color: #fff;
  color: #0048e0;
  padding: 12px 18px;
}
.loanInfo p {
  text-align: start;
  margin: 12px 0;
}
.loanInfo span {
  color: rgba(189, 9, 9, 0.74);
  font-weight: 500;
}
.monthlyPayment {
  background-color: #0048e0;
  padding: 12px 18px;
  color: #fff;
  font-size: 48px;
}
.loanInfo button {
  padding: 3px 8px;
  font-size: 18px;
  margin: 3px;
}
#loan-terms {
  color: #0048e0;
  margin: 0 8px;
}

/* at media queries  */
@media (max-width: 660px) {
  .searchBar {
    width: 80%;
  }
  .priceRange {
    width: 90%;
  }
  .priceRangeInput {
    width: 55%;
  }
}
@media (max-width: 550px) {
  .searchBar {
    width: 90%;
  }
  .comparsion {
    width: 100%;
    font-size: 20px;
  }
  .brandName {
    font-size: 25px;
  }
}
