.backHome:hover {
  background-color: #0048e0;
  border-color: #0048e0;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.searchBar {
  width: 50%;
}
.searchBtnStyle {
  padding: 5px 8px;
  color: #fff;
  border: none;
  position: absolute;
  top: 2px;
  right: 0px;
  cursor: pointer;
}
.compareBtn {
  background-color: #0048e0;
  color: #fff;
  border: none;
}
.loanBtn {
  background-color: transparent;
  color: #0048e0;
  border: 1px solid #0048e0;
}
.compareBtn,
.loanBtn {
  padding: 3px 8px;
  border-radius: 3px;
  margin-right: 12px;
  cursor: pointer;
  width: 100px;
}
.loanBtn:hover {
  background-color: #0048e0;
  color: #fff;
}
.compareCard,
.loanCard {
  padding: 0 12px;
  background-color: #0048e0;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100vh;
  font-size: 33px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
}
.comparsion {
  padding: 8px 12px;
  background-color: #fff;
  color: #0048e0;
  width: 90%;
  justify-content: space-around;
}
.reselectBnt,
.confirmCompareBtn {
  padding: 8px 12px;
  font-size: 22px;
  cursor: pointer;
  margin: 0 8px;
}
.loanBackBtn {
  font-size: 22px;
  padding: 8px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.loanInfo {
  width: 80%;
  background-color: #fff;
  color: #0048e0;
  padding: 12px 18px;
}
.loanInfo p {
  text-align: start;
  margin: 12px 0;
}
.loanInfo span {
  color: rgba(189, 9, 9, 0.74);
  font-weight: 500;
}
.monthlyPayment {
  background-color: #0048e0;
  padding: 12px 18px;
  color: #fff;
  font-size: 48px;
}
.loanInfo button {
  padding: 3px 8px;
  font-size: 18px;
  margin: 3px;
}
#loan-terms {
  color: #0048e0;
  margin: 0 8px;
}

@media (max-width: 660px) {
  .searchBar {
    width: 80%;
  }
}
@media (max-width: 550px) {
  .searchBar {
    width: 90%;
  }
}
